<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventServlet</servlet-name>
        <servlet-class>com.controller.AddEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookViewServlet</servlet-name>
        <servlet-class>com.controller.BookViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventViewsServlet</servlet-name>
        <servlet-class>com.controller.EventViewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventViewServlet</servlet-name>
        <servlet-class>com.controller.EventViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventServlet</servlet-name>
        <url-pattern>/AddEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookViewServlet</servlet-name>
        <url-pattern>/BookViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventViewsServlet</servlet-name>
        <url-pattern>/EventViewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventViewServlet</servlet-name>
        <url-pattern>/EventViewServlet</url-pattern>
    </servlet-mapping>
</web-app>
